.nav ul  {
		padding:0;
	    margin:0;
		display:block;
		height: 68px;	
		background:  #2e2e2e;
		padding: 0px;
		
}
 *{
		
		padding:0;		
		margin:0;

}
.right-nav{
	margin-right: 60px;
	
}
.right-nav li{

	color: #b9b9ba;
	display: block;
	font-size: 13px;
	float: right;
	margin:0;
	padding:0;
	list-style-type: none;
	top:0;
	margin-left: 2px;
	margin-right: 3px;
	left:0;
	bottom:0;
	margin-top: 25px;
	outline: #000000;


}

.nav a{
	margin-left: 50px;
	text-decoration: none;
	color: #b9b9ba;
}
li a:hover{
	background-color:#2e2e2e;
    color: white;
}
#logo{
	margin-top: 16px;
	list-style-type: none;
	float:left ;
	top:0;
	padding:0;
	right:0;
	left:0;
	bottom:0;
	width: 100px;
	height:80px;

}

#welcome {
		font-size:80px;
		color:#ffffff;
		display:block;
		line-height: 600px;
		text-align:center;
		
}
#welcome-detail{
		font-size:20px;
		color:#ffffff;
		display:block;
		margin-top: -230px;
		text-align:center;
}
.banner{
	background-image:url('../htmltest/img/banner.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	display: block;
	height: 600px;
}
.portfoli{
	list-style-type: none;
	margin-top:50px;
	padding:0;
	font-size: 20px;
	text-align: center;
	display:block;
	color: #E47c00;
	height: 250px;
	width:auto;
}
.port-text{
	text-align: center;
	margin-top: 30px;
	color: #E57c00;
	font-size: 60px;
}
.buttons  	button {
	text-align: center;
	border: 1px solid #E57c00; 
	line-height: 40px;
	padding: 0 20px 0 20px;
	margin: 40px 14px 10px;
	font-weight: 300;
	font-size: 16px;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #e59501;
	background-color: #ffffff;
}
.buttons li{
	display: inline-block;
}
.port-img {
	height: 600px;
	background-size: cover;
	display: block;
	background-image:url('../htmltest/img/portfolio-nav-img.jpg');
}
.port-text-detail{
	text-align: center;
	-webkit-column-span: 2;
	column-span: 2;
}
.stats-li  li{
	padding:  10px 10px;	
	margin: 20px  0px;
	display: inline-block;
	width: 12%;
}
.stats-li {
	text-align: center;
	padding: 0 50px 0 20px;	
	margin: 20px 2px 10px;
}
.stats-li2{
	padding: 0px 40px 0 10px;	
	 margin: 20px 2px 0 10px; 
	margin-left: 30px;
} 
.teams{
		padding: 20px 20px 0 10px;	
		margin:0;
		display:block;
		height: 400px;
		background:  #2e2e2e;
		padding: 0px;
}
.teams li{
	color: #ffffff;
/*	margin-left: -100px;*/
	width: 15%;
	padding:0px 30px;
	margin-top: 20px;
}
 .forms li{
	text-align: center;
	padding: 0 100px 0 100px;	
	 margin: 40px  -90px 1px ; 
	display:inline;
	/*border: 1px solid #000000;*/
	text-decoration: none;

} /**/
.forms {
	height:100px;
	text-align: center;
	padding: 0 50px 0 20px;	
	/* margin: 20px 2px 10px; */
	
}
.forms input{
	height:50px;
	width: 25%;
	appearance:none;
	/* box-sizing: border-box;
	cursor: pointer; */
	text-decoration: none;
	text-align: left;
	outline: none;	
	background:none;
	border: 1px solid #bfbfbf;
	color:#bfbfbf;
	padding:0px 30px;
	margin-top: 40px;
}
#msg{
	height:240px;
	width: 57%;
	/*padding: 0 50px 0 20px;	*/
	text-decoration: none;
	display:inline;
	/*padding: 0 100px 0 100px;	*/
	/*margin: 50px -90px 10px;*/
	margin-top:25px;
	padding:0 30px;
	margin-left: 10px;
	text-align: left;
}
.Contact button{
	
	margin-top: 20px;
	text-align: center;
	border: 2px solid #e47c00;
	background-size: 80px 30px;
	background: #e47c00;
	padding:20px 30px ;
	margin: 50px 30px 10px 10px;
	font-size: 30px;
	color:#ffffff;
	display: block;
	margin-left: 510px
	
}
.Contact {
	display: block;
}
footer{
	padding:30px 30px ;
	margin-top:430px;
	line-height: 50px;
	font-size: 24px;
	height:50px;
	background:#2e2e2e;
	text-align: center;
	display: block;
 	color:#ffffff;
}

